doctype html
html
  head
    title New Tec Build's
    link(rel='stylesheet', href='style.css')
    link(rel="shortcut icon" href="logo.png" type="image/x-icon")

  body
    p.main-text-title-huge(style="text-align: center;") - Pug Secrets -
    hr(style="width: 50%;")

    p.main-text-title-big(style="text-align: center;") Messages - #{msg_amount} -
    each message in messages
      div.blog-post-card
        p.card-main-text-title-big=message.firstName
        p.card-main-text=message.message
        p.card-footer-text=message.email
        p.card-author-text=message.lastName


    include ../templates/footer
